{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header details-header">
    <div class="col-md-2 text-right plain-element">
        <img src="{% static 'img/charity.jpg' %}" class="img responsive img-header">
    </div>
    <div class="col-md-10 text-left">
        <div class="box">
            <h4>This month we support: </h4>
            {% if charity_count > 0 %}
            <a href="{% url 'charity:view_donations' %}" class="donation-button">
                <i class="fas fa-2x fa-donate"></i>
                <label class="badge">{{ charity_count }}</label>
            </a> {% endif %}
            {% if my_profile.position == "admin" %}
            <a href="{% url 'charity:propose_charity' %}" class="btn-algorithm green">New Charity</a>
            {% endif %}
        </div>
        <h6>Charities: &nbsp; <b class="counter">{{charity_count}}</b></h6>
        <h6>Donations: &nbsp; <b class="counter">{{donation_count}} </b> &euro;</h6>
    </div>
</div>
<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>

{% endblock %}
<div class="dashboard-cards">
    <div class="row row-cards">
        {% for charity in charities %}
        <div class="col s12 m4">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ charity.image.url }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>{{ charity.name|truncatechars:16 }}</h5>
                        <p>{{ charity.description|truncatechars:60 }}</p>
                        <br>
                        <form class="form-inline" method="post"
                              action="{% url 'charity:add_to_donations' charity.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-algorithm green">Donate 5€</button>
                            {% if my_profile.position == "admin" %}
                            <a href="{% url 'charity:delete_charity' pk=charity.id%}" class="btn-algorithm red">End
                                Charity</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>


{% endblock %}
