{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header details-header">
    <div class="col-md-2 text-right plain-element">
        <img src="{% static 'img/charity.jpg' %}" class="img responsive img-header">
    </div>
    <div class="col-md-10 text-left">
        <div class="box">
            <h4>My Donations</h4>
            <a href="{% url 'charity:charity_donation' %}" class="btn-algorithm green"><i class="fas fa-1x fa-donate"></i>Proceed</a>
        </div>
    </div>
</div>
<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>

{% endblock %}
<div class="dashboard-cards">
    <div class="row row-cards">
        <div class="col-md-3 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/icons/charity.png' %}" class="img-responsive">
                    <p><b> Proceed with Payment </b></p>
                </div>
                <br><br>
                <div class="card-image">
                <form class="form-signin form-wide form-payment" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-box">
                        {{ donation_form|as_bootstrap }}
                        {{ make_donation_form|as_bootstrap }}
                        <br>
                        <button type="submit" class="btn-login"><span>Submit <i
                                class="far fa-arrow-alt-circle-right"></i></span>
                        </button>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            {% for item in backed_charities %}
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{ item.charity.image.url }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h5>{{ item.charity.name|truncatechars:16 }}</h5>
                        <p>{{ item.charity.description|truncatechars:60 }}</p>
                        <br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

{% endblock %}
