boto3==1.9.115
dj-database-url==0.5.0
Django==2.1.5
django-forms-bootstrap==3.1.0
django-materializecss-form==1.1.12
django-storages==1.7.1
gunicorn==19.9.0
Pillow==6.2.0
psycopg2==2.7.7
requests==2.21.0
stripe==2.22.0
