<div class="form-container">
  <form class="form-user" role="form" action="{% url 'rest_password_reset_confirm' %}">
    {% csrf_token %}
    <div class="row plain-element">
      <div class="input-field col s12">
        <input name="uid" type="text" class="form-control" id="uid">
        <label class="" for="uid">Uid value sent in email</label>
      </div>
    </div>
    <div class="row plain-element">
      <div class="input-field col s12">
        <input name="token" type="text" class="form-control" id="token">
        <label class="" for="uid">Token value sent in email</label>
      </div>
    </div>
    <div class="row plain-element">
      <div class="input-field col s12">
        <input name="new_password1" type="password" class="form-control" id="new_password1">
        <label class="" for="new_password1">Password</label>
      </div>
    </div>
    <div class="row plain-element">
      <div class="input-field col s12">
        <input name="new_password2" type="password" class="form-control" id="new_password2">
        <label class="" for="new_password1">Confirm Password</label>
      </div>
    </div>
  <button type="submit" class="btn-login"><span>Continue <i class="far fa-arrow-alt-circle-right"></i></span>
          </button>

  </form>
</div>