{% extends "base.html" %} {% load static %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
{% block row_header %}
<div class="row header details-header">
      <div class="col m1 text-left plain-element img-column">
        {% if my_profile.image %}
        <img src="{{ my_profile.image.url }}" class="img responsive img-header">
        {% else %}
        <img src="{% static 'img/portraits/default.jpg' %}" class="img responsive img-header">
        {% endif %}
      </div>
    <div class="col m8 text-left">
        <h5>Gamification Test</h5>
        <p>
            The test is based on a character theory. This character theory consists of four characters: Achievers,
            Explorers, Socializers, and Killers. These are imagined according to a preference for interacting
            with other players vs. exploring the world and also preference for interaction vs. unilateral action.
            Different personalities respond differently to gamification elements.
        </p>
    </div>
</div>
<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}
<div class="dashboard-cards">
    <div class="row row-form">
        <div class="col m6 no-padding">
            <div class="card form-card">
                <div class="card-header">
                    <img src="{% static 'img/icons/gear.png' %}" class="img-responsive">
                    <h5>Gamification Test</h5>
                </div>
                <br>
                <div class="text-left">
                    <form class="gamification-form form-wide" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn-login"><span>Submit <i
                                class="far fa-arrow-alt-circle-right"></i></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>


{% endblock %}
