/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #d6d6d6;
}

.wrapper {
    margin-top: 10px;
    padding-right: 25%;
    padding-left: 25%;
}

#page-index {
    background: none;
}


.container {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 1px outset grey;

}

.welcome {
    padding: 10px 15px 10px 0px;
}


h1,
.page-header {
    color: #003f67;
    margin: 10px 0px 10px 0px;
    border: none;
}



.btn {
    background-color: #003f67;
    border-radius: 5px;
    font-weight: 600;
}

.welcome .btn {
    margin: 10px;
}

primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn:hover,
.btn:focus,
.btn:active {
    background-color: #102332;
}

.btn-default {
margin-right: 20px !important;
}
.btn-default,
.button-form {
    margin-top: 5px;
}

.btn-danger {
    background-color: #cf0d16;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #ba0b13;
    color: white;
}


.modal .button-form {
    margin-top: 0px;
}

p {
    color: black;
}


.route {
    font-weight: normal;
    width: 100%;
    font-size: 0.8rem;
}

.btn-default:hover,
btn-default:active,
btn-default:focus,
.route:hover,
.route:active,
.route:focus {
    background-color: #102332;
    color: white;
}


.view-row {
    padding-left: 25px;
}

/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/

nav {
    background-color: transparent;
    box-shadow: none;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
    background-color: #003f67;
    border-color: #003f67;
}

.navbar-brand {
    padding-left: 2px !important;
}

.navbar .nav li a{
    color: white;
    height: 59px !important;
}


.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}


.navbar-text {
    margin: 0px;
    height: 100%;
}


/*------------------------------------------------------------------------------
    BREADCRUMB
------------------------------------------------------------------------------*/

.breadcrumb {
    background: transparent;

}

ul.breadcrumb {
    margin-top: 10px;
}

.breadcrumb li.active a {
    color: black;
}

.breadcrumb li.active a:hover {
    color: grey;
}



/*------------------------------------------------------------------------------
    CONTENTS
------------------------------------------------------------------------------*/

#content {
    padding-bottom: 10px;
}

.prettyprint {
    border: 1px solid #acacae;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
}




.well {
    border: 1px solid #acacae;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    border-top-left-radius: 0px;
}

.well label {
    color: #333;

}


#filtersModal {
    width: 30%;
    background: transparent;
    padding: 0px;
}

#filtersModal .btn-default {
    height: 42px;
    margin-top: -10px;
}



#filtersModal h2 {
    font-size: 2.4rem;
}

.input-group .form-control:first-child {
    background: #f7f7f9;
}

.modal-dialog {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-header {
    display: none;
}

.list-group {
    width: 88%;
}


/*------------------------------------------------------------------------------
    EDIT & ADD FORMS +
------------------------------------------------------------------------------*/

input[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default):focus,
input[type="password"]:not(.browser-default):focus:not([readonly]),
input.valid[type="password"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default):focus,
input[type="email"]:not(.browser-default):focus:not([readonly]),
input.valid[type="email"]:not(.browser-default),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input.valid[type="number"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default):focus,
input.invalid[type="text"]:not(.browser-default),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="text"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default),
input[type="search"]:not(.browser-default),
input[type="search"]:not(.browser-default):focus:not([readonly]),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input[type="number"]:not(.browser-default) {
    border-bottom: none;
    box-shadow: none;
    color: black;
    padding: 0px 0px 0px 5px;
}

input[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default):focus,
input[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default):focus,
input[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input[type="text"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default) {
    background-color: white;
    border-radius: 5px;
}




/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/



@media(max-width:952px) {


    .dropdown-content {
        margin-top: -10px;
    }



    h1 {
       font-size: 2.2rem;
    }


}


@media(max-width:520px) {

    .view-row {
        padding-left: 10px;
    }

    .view-row h5 {
        font-size: 1.2rem;
    }


    h3 {
        font-size: 16px;
    }

    .welcome {
        padding: 0px;
    }

    .btn-col {
        padding: 0px;
        width: 90%;
    }

}

