/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/

.navbar {
    border-radius: 0px;
}


.top-navbar .navbar-brand strong {
    font-size: 24px;
    font-weight: bold;
    display: block;
    color: white;

}

.top-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
    border: none;
    height: 60px;
    padding-left: 11%;
    padding-right: 10%;
    padding-top: 0px;
    padding-bottom: 0px;

}

.top-navbar .navbar-brand {
    margin: 0px;
    width: 100%;
    height: 60px;
    text-align: left;
    padding: 5px;
    font-weight: 700;
    color: white;
    background: transparent;
}


.navbar-header {
    width: 30%;
}

.navbar-brand .company-logo {
    height: 3.5rem;

}


.navbar-brand  .material-icons {
    float: left;
    font-size: 28px;
    margin-right: 5px;
    line-height: inherit;
    height: auto;
}

.nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;

}

.nav-link {
    height: 100% !important;
    padding: 20px 15px 20px 15px !important;
}


.nav i, .nav i.material-icons {
    height:20px;
    font-size: 15px;
    margin-right: 5px;
}

.top-navbar .navbar-right {
    width: auto;
    height: 60px;
    margin: 0px;
    line-height: 1;
    padding: 0px;
    color: #1a2026;
    float: right !important;
}

.top-navbar .navbar-right>a {
    padding: 0px;
    font-size: 15px;
}

.top-navbar .navbar-right>a>i {
    margin-right: 5px;
    font-size: 16px;
    height: 60px;
}

nav ul b {
    font-weight: bold;
}

.dropdown-content {
    width: auto;
    right: -50px !important;
    top: 60px !important;

}

.dropdown-content li>a {
    font-size: 14px;
    text-decoration: none;
}
.dropdown-content li>a>i {
    margin-right: 12px;
    font-size: 18px;
}


.dropdown-content li>fa {
    font-size: 16px;

}

.sidenav-trigger {
    height: 60px !important;


}

.sidenav-trigger i {
    font-weight: bold;

}


#trigger {
   font-size: 24px;
   padding: 10px 0px 10px 0px;
}

/* Hovers and Focuses --------------------------------------------------------*/

.navbar-right>a:hover,
.navbar-right>a:focus {
    text-decoration: none;
    outline: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    outline: 0px;
}


nav ul a:hover {
    background-color: #fff;
    color: white;
}

nav ul li:hover, nav ul li:active {
    background: #102332;
    color: white;
}

.sidenav li:hover {
     background: #102332;
}




/*------------------------------------------------------------------------------
    SEARCH BOX
------------------------------------------------------------------------------*/

nav form {
  position: relative;
  height: 100%;
  background: inherit;
  padding: 13px 15px 12px 0px;
}


.nav-wrapper{
  background: inherit;

}


.search-close-icon{
  display: none!important;
  position: absolute;
  top: 0;
  left: 100%!important;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.54);
  transition: color .2s;
  cursor: pointer;
}


input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  height: 30px;
  padding: 8px 8px 8px 30px;
  width: 160px;
  background: white;
  transition: background 0.2s, width .2s;
}


#search-icon {
    position: relative;
    color: #5e5e5e;
    left: 30px;
}


input.search-field:hover {
  background: white;
}
.searchbox {
  position: relative;
}

::placeholder {
  color: black;
}
input.search-field:focus {
  outline: none;
  width: 240px;
  color: #212121;
}
input.search-field:focus:hover {
  background: white;
}
.search-icon {
  position: absolute;
  top: 0;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.54);
}
.search-content {
  color: #303c42;
  width: 90%;
  margin: auto;
  height: auto;
  padding: 8px 10px;
}
.search-heading {
  color: #757575;
  display: block;
  font-size: 12px;
  line-height: 30px;
}
input.search-field ~ .search-popup {
  overflow: hidden;
  left: 0px;
  min-height: 50px;
  max-height: 700px;
  width: 200px;
  top: -450px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: width .2s, top .2s ease-in-out;
  border-radius: 2px;
  background-color: #fff;
}
input.search-field:focus ~ .search-popup {
  width: 500px;
  top: 50px;
}
nav ul.popup-list a:hover {
  background-color: initial;
}
nav ul.popup-list li {
  float: none;
}
nav ul.popup-list li a {
  line-height: 30px;
  padding: 0;
  font-size: 12px;
  color: #212121 !important;
}
nav ul.popup-list li a:hover {
  background-color: #f7f7f7;
}


.top-margin {
  margin-top: 8px;
}




/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/

.top-navbar {
    background-color: #003f67;
    box-shadow: none;
    border: none;
}

.navbar-brand .material-icons {
    color: white;
}

nav ul a {
    color: white;
}

.dropdown-content {
    background-color: white;
}

.dropdown-content li>a {
    color: white;
    background-color: #003f67;
}

.dropdown-content li>fa {
    color: #1a2026;
}


.navbar-right>a:hover,
.navbar-right>a:focus {
    background: transparent;
    color: #e5ebef;
}

.navbar-default .navbar-brand:hover
.navbar-default .navbar-brand:focus {
    color: #e5ebef;
}

 nav ul a:hover {
     color: #003f67;
 }

.nav > li > a:hover,
 .nav > li > a:focus,
 .nav > li > a:active{
    background-color: transparent;
    color: white;
}

 .navbar-default .navbar-brand:hover {
    color: white;
 }

.sidenav {
    background: #003f67;
}

.sidenav li > a {
    color: white
}

.sidenav li > a > i {
    color: white;
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


@media(max-width:1600px) {
    .top-navbar {
        padding-left: 2%;
        padding-right: 2%;
    }

    .navbar-header {
        width:30%;
    }



}


@media(max-width:992px) {
    .top-navbar {
        margin: 0px;
        padding:0px;
    }

    .top-navbar .navbar-brand {
        width: 280px;
        font-size:  2rem;
        padding: 10px;
    }

    .top-navbar .navbar-brand strong {
        font-size: 20px;
    }

    .navbar-brand i.large.material-icons {
        font-size: 40px;
    }


    .dropdown-content {
        margin-top: -10px;
    }

    .nav-link {
        display: none !important;
    }

    .navbar-header {
    width: 60%;
    }

    nav a.sidenav-trigger {
        line-height: 1;
    }

    nav a.sidenav-trigger i {

    height: 60px;
    line-height: 1;
    }

    #trigger {
        margin: 5px 0px 10px 0px;
    }

    #search-form {
        display:none;
    }

}

@media only screen and (max-width: 600px) {

  nav form {
/*     left: calc(90vw - 100%); */
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: transparent;
  }

  input.search-field {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }
  input.search-field ~ .search-popup {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
  }

  .search-icon {
    top: 0;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  input.search-field:focus {
    margin-right: 0px;
    width: 100vw;
    padding: 8px 8px 8px 50px;
  }

  input.search-field:focus ~ .search-popup {
    width: 100vw;
  }

  .search-content {
    width: 100%;
    padding: 8px 8px;
  }

  nav .nav-wrapper {
    margin-right: 0px;
  }
}


@media(max-width:415px) {


    .top-navbar .navbar-brand {
        height: 60px;
        width: 100%;
        font-size:  2rem;
        padding: 10px;


    }
    .navbar-brand .fab {
        font-size: 20px;

    }

    .top-navbar .navbar-right {
        position: relative;
        top: -60px;
    }



}


