{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header details-header">
  <div class="col-md-1 text-left plain-element img-column">
    {% if my_profile.image %}
    <img src="{{ my_profile.image.url }}" class="img responsive img-header">
    {% else %}
    <img src="{% static 'img/portraits/default.jpg' %}" class="img responsive img-header">
    {% endif %}
  </div>
  <div class="col-md-8 text-left">
        <span class="flex"><h5 class="title-username">{{ user.name }} </h5><button class="btn-inline"
                                                                                   onclick="window.location='{% url 'user:edit_profile' %}'">Edit </button></span>
    <p>{{ position }}</p>
    <table class="profile-details">
      <tr class>
        <td>Email Address: &nbsp;</td>
        <td><b><a target="_blank">
          {{ user.email }}</a></b>
        </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </tr>
      <tr>
        <td>Personality: &nbsp;</td>
        {% if my_profile.personality == '' %}
        <td>
          <button onclick="window.location='{% url 'user:gamification_test' %}'" type="submit"
                  class="btn-inline btn-long plain-element"> &nbsp; Take Personality Test &nbsp;
          </button>
        </td>
        {% else %}
        <td><b>{{ my_profile.personality }}</b></td>
        {% endif %}
      </tr>
      <tr>
        <td>LeanCoins: &nbsp;</td>
        <td><b><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ my_profile.my_wallet }}</b></td>
      </tr>
    </table>

  </div>
</div>
{% endblock %}
<div class="dashboard-cards">
  <div class="row row-details">
    <div class="col-md-6 col-left plain-element">
      {% if my_profile.position == 'Coder' %}
      <div class="row plain-element">
        <div class="col-md-12 no-padding">
          <div class="card insights-card">
            <div class="card-header">
              Joined Teams
            </div>
            <div class="row-content">
              <div class="table-responsive table-insights">
                <table>
                  <tr>
                    <th class="text-left">Project</th>
                    <th class="text-left">Active Issues</th>
                    <th class="text-left">Budget</th>
                    <th class="text-left">Phase</th>
                  </tr>
                  <tbody>
                  {% for project in joined_projects %}
                  <tr>
                    <td class="text-left"><a href="{% url 'projects:project_details' pk=project.id %}"><b>{{
                      project.name|truncatechars:16 }}</b></a></td>
                    <td class="text-left">{{ project.description|truncatechars:80 }}</td>
                    <td class="text-left"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ project.budget }}
                    </td>
                    <td class="text-left">{{ project.phase }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row plain-element">
        <div class="col-md-12 plain-element">
          <div class="card insights-card">
            <div class="card-header">
              My Projects
            </div>
            <div class="row row-content">
              <div class="table-responsive table-insights">
                <table>
                  <tr>
                    <th class="text-left">Project</th>
                    <th class="text-left">Active Issues</th>
                    <th class="text-left">Budget</th>
                    <th class="text-left">Phase</th>
                  </tr>
                  <tbody>
                  {% for project in projects %}
                  <tr>
                    <td class="text-left"><a href="/projects/{{project.id}}/"><b>{{ project.name|truncatechars:20}}</b></a>
                    </td>
                    <td class="text-left">{{ project.description|truncatechars:80 }}</td>
                    <td class="text-left"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{project.budget }}
                    </td>
                    <td class="text-left">{{ project.phase }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding">
      <div class="card insights-card">
        <div class="card-header">
          Assigned Bugs & Issues
        </div>
        <div class="row-image">
          <div class="table-responsive table-insights">
            <table>
              <tr>
                <th class="text-left">Issue</th>
                <th class="text-left">Project</th>
                <th class="text-left">Description</th>
                <th class="text-left">Cost</th>
                <th class="text-left">Status</th>
              </tr>
              <tbody>
              {% for issue in issues %}
              <tr>
                <td class="text-left"><a target="_blank">{{issue.name|truncatechars:20}}</a>
                <td class="text-left"><a><b>{{issue.project|truncatechars:16 }}</b></a></td>
                <td class="text-left">{{ issue.description|truncatechars:80 }}</td>
                <td class="text-left"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{issue.cost}}
                </td>
                <td class="text-left">
                  <a href="{% url 'user:issue-fixed' pk=issue.id %}" class="btn-inline green">&nbsp; Fixed &nbsp;</a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
