{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %}
{% block content %}
<div id="wrapper">

<!-- TOP NAVBAR -->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" href="/"> <img
                    src="{% static 'img/restbank.png' %}" class="responsive logo-img"></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown-user' id="user_dropdown"><i
                    class="fas fa-caret-down"></i><b>
                {% if user.is_authenticated %}
                {{ user }}
                {% else %}
                Login/Register
                {% endif %}
            </b></a></li>
            <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
            </li>
        </ul>
    </nav>
    <!-- DROPDOWN -->
    <ul id="dropdown-user" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
        {% else %}
        <li><a href="{% url 'user:login' %}"><i class="fa fa-user fa-fw"></i> Log In</a></li>
        <li><a href="{% url 'user:register' %}"><i class="fas fa-tasks"></i> Register</a></li>
        {% endif %}
    </ul>
    <!-- MOBILE -->
    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:logout' %}"><i
                class="fas fa-sign-out-alt"></i><b> Log Out {{ user.name }}</b></a></li>
        {% else %}
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:login' %}"><i
                class="fa fa-user"></i><b> Log In</b></a></li>
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:register' %}"><i
                class="fas fa-tasks"></i><b> Register</b></a></li>
        {% endif %}
    </ul>

{% block row_header %}
<div class="row header details-header">
    <div class="col-md-2 text-right plain-element img-column">
        {% if my_profile.image %}
        <img src="{{ my_profile.image.url }}" class="img responsive img-header">
        {% else %}
        <img src="{% static 'img/portraits/default.jpg' %}" class="img responsive img-header">
        {% endif %}
    </div>

    <div class="col-md-10 text-left">
        <span class="flex"><h5>{{ user.name }} </h5><button class="btn-inline"
                                                            onclick="window.location='{% url 'user:edit_profile' %}'">Edit </button></span>
        {% if my_profile.position == 'PM' %}
        <p>Project Manager</p>
        {% elif my_profile.position == 'admin' %}
        <p>Program Manager</p>
        {% else %}
        <p>{{ my_profile.position }}</p>
        {% endif %}
        <table class="profile-details">
            <tr class>
                <td>Email Address: &nbsp;</td>
                <td><b><a target="_blank">
                    {{ user.email }}</a></b>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </tr>
            <tr>
                <td>Personality: &nbsp;</td>
                {% if my_profile.personality == '' %}
                <td><b>
                    <button onclick="window.location='{% url 'user:gamification_test' %}'" type="submit"
                            class="btn-inline plain-element"> &nbsp; Take Personality Test &nbsp;
                    </button>
                </b></td>
                {% else %}
                <td><b>{{ my_profile.personality }}</b></td>
                {% endif %}
            </tr>
            <tr>
                <td>LeanCoins: &nbsp;</td>
                <td><b><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ my_profile.my_wallet }}</b></td>
            </tr>
        </table>

    </div>
</div>

<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}
<div class="dashboard-cards">
    <div class="row row-cards">

        {% if my_profile.position == 'PM' %}
        <div class="col-md-6 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}team.png" class="img-responsive">
                    <p><b> My Project Teams </b></p>
                </div>


                <div class="row-image">
                    <div class="table-responsive table-profile">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Project</th>
                                <th class="text-center">Active Issues</th>
                                <th class="text-center">Budget</th>
                                <th class="text-center">Phase</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                            <tr>
                                <td class="text-center"><a href="{% url 'projects:project_details' pk=project.id %}"><b>{{ project.name|truncatechars:16 }}</b></a></td>
                                <td class="text-center">{{ project.description|truncatechars:80 }}</td>
                                <td class="text-center"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{project.budget }}
                                </td>
                                <td class="text-center">{{ project.phase }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% elif my_profile.position == 'Coder' %}
        <div class="col-md-6 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}team.png" class="img-responsive">
                    <p><b> Joined Teams </b></p>
                </div>


                <div class="row-image">
                    <div class="table-responsive table-profile">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Project</th>
                                <th class="text-center">Active Issues</th>
                                <th class="text-center">Budget</th>
                                <th class="text-center">Phase</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in joined_projects %}
                            <tr>
                                <td class="text-center"><a href="{% url 'projects:project_details' pk=project.id %}"><b>{{ project.name|truncatechars:16 }}</b></a></td>
                                <td class="text-center">{{ project.description|truncatechars:80 }}</td>
                                <td class="text-center"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ project.budget }}
                                </td>
                                <td class="text-center">{{ project.phase }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-md-6 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}issue.png" class="img-responsive">
                    <p><b>Currently working on </b> <br></p>
                </div>


                <div class="row-image">
                    <div class="table-responsive table-profile">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Issue</th>
                                <th class="text-center">Project</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Cost</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for issue in issues %}
                            <tr>
                                <td class="text-center"><a target="_blank">{{issue.name|truncatechars:20}}</a>
                                <td class="text-center"><a><b>{{issue.project|truncatechars:16 }}</b></a></td>
                                <td class="text-center">{{ issue.description|truncatechars:80 }}</td>
                                <td class="text-center"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{issue.cost}}
                                </td>
                                <td class="text-center"><a href="{% url 'projects:issue_fixed' ik=issue.id %}"
                                                           class="btn-inline green">&nbsp; Fixed &nbsp;</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue" href="/">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

</div>
</div>
<div class="footer">
    <p><a target="_blank" href="https://www.freeprivacypolicy.com/privacy/view/4a6458c34e915bb7bdfa2d3bcc0bc53e/">Privacy
        Policy</a> • © 2019 - 2020 www.septellar.com - All Rights Reserved • Powered by Septellar &trade;</p>
</div>
{% endblock %}
