{% extends "base.html" %} {% load staticfiles %}{% load materializecss %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header details-header">
    <div class="col-md-2 text-right plain-element">
        <img src="{% static 'img/project_details.jpg' %}" class="img responsive img-header">
    </div>

    <div class="col-md-10 text-left">
        <div class="box">

            <h5>{{ project.name }}</h5>
            {% if my_profile.position == 'admin' %}
            <a href="{% url 'projects:advance_project' pk=project.id %}" class="btn-algorithm green">
                {% if project.phase == 'proposed' %}
                Launch Project
                {% else %}
                Advance Project
                {% endif %}
            </a>

            <a href="{% url 'projects:complete_project' pk=project.id %}" class="btn-algorithm green">Finish
                Project!</a>
            <a href="{% url 'projects:delete_project' pk=project.id %}" class="btn-algorithm red">Terminate Project</a>
            {% endif %}
            {% if project.proposed_by == request.user %}
            <a href="{% url 'projects:report_issue' pk=project.id %}" class="btn-algorithm red">Report Issue</a>
            <a href="{% url 'projects:project_skillset' pk=project.id %}" class="btn-algorithm blue">Define Skillset</a>
            {% endif %}
        </div>
        <table class="profile-details">
            <tr class>
                <td>Manager: &nbsp;</td>
                <td><b>{{ project.proposed_by.name }}</b></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </tr>
            <tr>
                <td>Budget: &nbsp;</td>
                <td><b><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ project.budget }}</b></td>
            </tr>
            <tr>
                <td>Phase:</td>
                <td><b>{{ project.phase }}</b></td>
            </tr>
        </table>

    </div>
</div>
<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}

<div class="dashboard-cards">
    <div class="row row-cards">
        <div class="col-md-3 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}team.png" class="img-responsive">
                    <p><b> Project Team</b></p>

                    {% if project.phase == 'proposed' %}
                    <p>
                        {% if project.proposed_by == request.user %}
                        <a href="{% url 'projects:leave_team' pk=project.id %}" class="btn-algorithm red">&nbsp;Reject
                            &nbsp</a>
                        {% endif %}

                        <a href="{% url 'projects:join_team' pk=project.id %}" class="btn-algorithm green">&nbsp;&nbsp;
                            Join &nbsp;&nbsp;</a>
                    </p>
                    {% endif %}

                </div>
                <div class="row-image">
                    <div class=" table-responsive table-profile">
                        <table>
                            <tr>
                                <td><b>MANAGER:</b></td>
                                <td><img src="{{ project_owner.image.url }}" class="img responsive img-icon">
                                </td>
                            </tr>
                            <tr>
                                <td><b>HTML</b>:</td>

                                {% for element in skill_coverage %} {% if element.skill == 'html' %}
                                {% for profile in profiles %} {% if profile.owner == element.user %}
                                <td><img src="{{ profile.image.url }}" class="img responsive img-icon"></td>
                                {% endif %} {% endfor %}{% endif %} {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td><b>CSS</b>:</td>

                                {% for element in skill_coverage %} {% if element.skill == 'css' %}
                                {% for profile in profiles %} {% if profile.owner == element.user %}
                                <td><img src="{{ profile.image.url }}" class="img responsive img-icon"></td>
                                {% endif %} {% endfor %}{% endif %} {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td><b>JS</b>:</td>

                                {% for element in skill_coverage %} {% if element.skill == 'js' %}
                                {% for profile in profiles %} {% if profile.owner == element.user %}
                                <td><img src="{{ profile.image.url }}" class="img responsive img-icon"></td>
                                {% endif %} {% endfor %}{% endif %} {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td><b>DB</b>:</td>

                                {% for element in skill_coverage %} {% if element.skill == 'db' %}
                                {% for profile in profiles %} {% if profile.owner == element.user %}
                                <td><img src="{{ profile.image.url }}" class="img responsive img-icon"></td>
                                {% endif %} {% endfor %}{% endif %} {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td><b>PYTHON</b>:</td>

                                {% for element in skill_coverage %} {% if element.skill == 'python' %}
                                {% for profile in profiles %} {% if profile.owner == element.user %}
                                <td><img src="{{ profile.image.url }}" class="img responsive img-icon"></td>
                                {% endif %} {% endfor %}{% endif %} {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/icons/description.png' %}" class="img-responsive">
                    <p><b> Project Log </b></p>
                </div>
                <div class="row-image">
                    <div class=" table-responsive table-log">
                        <div class="table-div plain-element">
                            <table>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Log Entry</th>
                                </tr>
                                {% for element in project_log %}

                                <tr>
                                    <td>{{ element.message_date }}</td>
                                    <td>{{ element.message }}</td>
                                </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 no-padding">
            {% if project.phase == 'proposed' %}
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}team.png" class="img-responsive">
                    <p><b>Team Requirements </b> <br></p>
                </div>
                <div class="row-image">
                    <div class="table-responsive table-skills">
                        <table>
                            <thead>
                            <tr>
                                <th class="text-center"><img src="{% static 'img/icons/html.png' %}"
                                                             class="img responsive img-skill"></th>
                                <th class="text-center"><img src="{% static 'img/icons/css.png' %}"
                                                             class="img responsive img-skill"></th>
                                <th class="text-center"><img src="{% static 'img/icons/js.png' %}"
                                                             class="img responsive img-skill"></th>
                                <th class="text-center"><img src="{% static 'img/icons/db.png' %}"
                                                             class="img responsive img-skill"></th>
                                <th class="text-center"><img src="{% static 'img/icons/python.png' %}"
                                                             class="img responsive img-skill"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for skill in requiredskills %}
                            <tr>
                                <td class="text-center"><h5><b>{{skill.html}}</b></h5></td>
                                <td class="text-center"><h5><b>{{skill.css}}</b></h5></td>
                                <td class="text-center"><h5><b>{{skill.js}}</b></h5></td>
                                <td class="text-center"><h5><b>{{skill.db}}</b></h5></td>
                                <td class="text-center"><h5><b>{{skill.python}}</b></h5></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}issue.png" class="img-responsive">
                    <p><b>Bugs & Issues </b> <br></p>
                </div>
                <div class="row-image">
                    <div class="table-responsive table-profile">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Issue</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Reward</th>
                                <th class="text-center">Assigned to</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for issue in issues %}
                            <tr>
                                <td class="text-center"><a target="_blank">{{issue.name|truncatechars:20}}</a>
                                <td class="text-center">{{ issue.description|truncatechars:80 }}</td>
                                <td class="text-center"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ issue.cost}}
                                </td>
                                {% if issue.assigned_to == project.proposed_by %}
                                <td class="text-center"><a
                                        href="{% url 'projects:assign_issue' ik=issue.id pk=project.id %}"
                                        class="btn-inline red">&nbsp; Assign to Me &nbsp;</a></td>
                                {% else %}
                                <td class="text-center">{{ issue.assigned_to|truncatechars:16 }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/icons/gear.png' %}" class="img-responsive">
                    <p><b>Project Schedule </b> <br></p>
                </div>
                <div class="row-image">
                    <img src="{{ project.image.url }}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-md-3 no-padding">
            <div class="card insights-card">

                <div class="card-header">
                    <img src="{% static 'img/icons/chart.png' %}" class="img-responsive">
                    <p><b>Team Personalities </b> <br></p>
                </div>
                <div class="row-image">
                    <canvas id="myChart">
                    </canvas>
                </div>
                <br>

            </div>
            <div class="card insights-card">

                <div class="card-header">
                    <img src="{% static 'img/icons/chart.png' %}" class="img-responsive">
                    <p><b>Team Insights </b> <br></p>
                </div>
                <div class="row-image">
                    <div class=" table-responsive table-log">
                        <table>
                            <tr>
                                <th class="text-center">Area</th>
                                <th class="text-center">Insight</th>
                            </tr>
                            <tr>
                                <td>Productivity</td>
                                <td>{{ statement_1 }}</td>
                            </tr>
                            <tr>
                                <td>Innovation</td>
                                <td>{{ statement_2 }}</td>
                            </tr>
                            <tr>
                                <td>Teamwork</td>
                                <td>{{ statement_3 }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>




<script>
var ncx = document.getElementById('myChart').getContext('2d');
var typeChart = new Chart(ncx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: ["achievers", "explorers", "socializers", "killers"],
        datasets: [{
            data: [{{achievers}}, {{explorers}}, {{socializers}}, {{killers}}],
            backgroundColor: [
            '#4e79a7',    // color for data at index 0
            '#f28e2b',   // color for data at index 1
            '#e15759',  // color for data at index 2
            '#76b7b2', // color for data at index 3
            '#59a14f', // color for data at index 3
            '#edc948', // color for data at index 3
            //...
        ],
        }]
    },
    // Configuration options go here
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: { display: false },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
             xAxes: [{
                gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                }
            }],
        yAxes: [{
            display: false,
            gridLines: {
                    color: "rgba(0, 0, 0, 0)",
                },
            ticks: {
                suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
        }]
    }
    }
});
</script>


{% endblock %}
