/*----------------------------------------------
    COMMON  STYLES
------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #d6d6d6;
}

.wrapper {
    margin-top: 10px;
    padding-right: 25%;
    padding-left: 25%;
}

#page-index {
    background: none;
}


.container {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 1px outset grey;

}

.welcome {
    padding: 10px 15px 10px 0px;
}


h1,
.page-header {
    color: #003f67;
    margin: 10px 0px 10px 0px;
    border: none;
}



.btn {
    background-color: #003f67;
    border-radius: 5px;
    font-weight: 600;
}

.welcome .btn {
    margin: 10px;
}

primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn:hover,
.btn:focus,
.btn:active {
    background-color: #102332;
}

.btn-default {
margin-right: 20px !important;
}
.btn-default,
.button-form {
    margin-top: 5px;
}

.btn-danger {
    background-color: #cf0d16;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #ba0b13;
    color: white;
}


.modal .button-form {
    margin-top: 0px;
}

p {
    color: black;
}


.route {
    font-weight: normal;
    width: 100%;
    font-size: 0.8rem;
}

.btn-default:hover,
btn-default:active,
btn-default:focus,
.route:hover,
.route:active,
.route:focus {
    background-color: #102332;
    color: white;
}


.view-row {
    padding-left: 25px;
}

#get-form .dropdown-menu {
  background-color: white;
  height: 70px;
}


#get-form .dropdown-menu a {
  height: 100% !important;
}

#deleteModal {
  width: 600px;
  height: 230px;
  background: transparent;
}

/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/

nav {
    background-color: transparent;
    box-shadow: none;
}


.navbar {
    border-radius: 0px;
}

.top-navbar .navbar-brand strong {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #222;
}


.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
    background-color: #5770af;
    border-color: #5770af;
}



.top-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
    border: none;
    padding-left: 25%;
    padding-right: 25%;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 100px;
}

.top-navbar .navbar-brand {
    margin: 0px;
    width: 200px;
    height: auto;
    text-align: left;
    padding: 10px 5px;
    color: #1a2026;
    background: transparent;
}


.navbar-brand .material-icons {
    float: left;
    font-size: 28px;
    margin-right: 5px;
    line-height: inherit;
    height: auto;

}

.nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;

}

.nav i,
.nav i.material-icons {
    height: 20px;
    font-size: 15px;
    margin-right: 5px;
}



.top-navbar .navbar-right {
    width: auto;
    height: 60px;
    margin: 0px;
    line-height: 1;
    padding: 20px;
    padding-right: 0px;
    color: #1a2026;
}

.top-navbar .navbar-right>a {
    padding: 0px;
    font-size: 15px;
}

.top-navbar .navbar-right>a>i {
    margin-right: 5px;
    font-size: 16px;
    height: 20px;
}

nav ul b {
    font-weight: 500;
}

.dropdown-content {
    width: 150px !important;
    right: -50px !important;
    top: 60px !important;

}

.dropdown-content li>a {
    font-size: 14px;
    text-decoration: none;
}

.dropdown-content li>a>i {
    margin-right: 12px;
    font-size: 18px;
}


.dropdown-content li>fa {
    font-size: 16px;

}

.logo-img {
    width: auto;
    height: 40px;
}

.navbar-text {
    margin: 0px;
    margin-left: -15px;
}



/* Hovers and Focuses --------------------------------------------------------*/

.navbar-right>a:hover,
.navbar-right>a:focus {
    text-decoration: none;
    outline: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    outline: 0px;
}


nav ul a:hover {
    background-color: #fff;
}


/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/

.top-navbar {
    background: white;
    box-shadow: none;
    border: none;
}

.navbar-brand .material-icons {
    color: #1a2026;
}

.navbar .nav li,
.navbar .nav li a {
    color: white;
}


.navbar-right>a:hover,
.navbar-right>a:focus {
    background: transparent;
    color: #8b8b8b;
}

.navbar-default .navbar-brand:hover .navbar-default .navbar-brand:focus {
    color: #2f3a44;
}

.navbar-default .navbar-nav>li>a:hover {
    color: grey;
}

.nav>li>a:hover,
.nav>li>a:hover {
    background-color: transparent;
    color: #8b8b8b;
}

.navbar-default .navbar-brand:hover {
    color: #e5ebef;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #102332 !important;
    border-color: #102332 !important;
}

.dropdown-menu {
  min-width: 100%;
  width: 100%;
  background-color: #102332;
  padding-top: 10px;
  margin-top: -2px;
  height: 42px;

}

.dropdown-menu a {
  height: 10px !important;
}


.dropdown-menu a:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    text-decoration: none;
}


/*------------------------------------------------------------------------------
    BREADCRUMB
------------------------------------------------------------------------------*/

.breadcrumb {
    background: transparent;

}

ul.breadcrumb {
    margin-top: 10px;
}

.breadcrumb li.active a {
    color: black;
}

.breadcrumb li.active a:hover {
    color: grey;
}



/*------------------------------------------------------------------------------
    CONTENTS
------------------------------------------------------------------------------*/

#content {
    padding-bottom: 10px;
}

.prettyprint {
    border: 1px solid #acacae;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
}




.well {
    border: 1px solid #acacae;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    border-top-left-radius: 0px;
}

.well label {
    color: #333;

}


#filtersModal {
    width: 30%;
    background: transparent;
    padding: 0px;
}

#filtersModal .btn-default {
    height: 42px;
    margin-top: -10px;
}



#filtersModal h2 {
    font-size: 2.4rem;
}

.input-group .form-control:first-child {
    background: #f7f7f9;
}

.modal-dialog {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-header {
    display: none;
}

.list-group {
    width: 88%;
}


/*------------------------------------------------------------------------------
    EDIT & ADD FORMS +
------------------------------------------------------------------------------*/

input[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default):focus,
input[type="password"]:not(.browser-default):focus:not([readonly]),
input.valid[type="password"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default):focus,
input[type="email"]:not(.browser-default):focus:not([readonly]),
input.valid[type="email"]:not(.browser-default),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input.valid[type="number"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default):focus,
input.invalid[type="text"]:not(.browser-default),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="text"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default),
input[type="search"]:not(.browser-default),
input[type="search"]:not(.browser-default):focus:not([readonly]),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input[type="number"]:not(.browser-default) {
    border-bottom: none;
    box-shadow: none;
    color: black;
    padding: 0px 0px 0px 5px;
}

input[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default),
input.invalid[type="password"]:not(.browser-default):focus,
input[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default),
input.invalid[type="email"]:not(.browser-default):focus,
input[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default):focus,
input[type="text"]:not(.browser-default),
input.invalid[type="text"]:not(.browser-default),
input.invalid[type="number"]:not(.browser-default) {
    background-color: white;
    border-radius: 5px;
}




/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/



@media(max-width:952px) {


    .dropdown-content {
        margin-top: -10px;
    }



    h1 {
       font-size: 2.2rem;
    }


}


@media(max-width:520px) {

    .view-row {
        padding-left: 10px;
    }

    .view-row h5 {
        font-size: 1.2rem;
    }


    h3 {
        font-size: 16px;
    }

    .welcome {
        padding: 0px;
    }

    .btn-col {
        padding: 0px;
        width: 90%;
    }

}

