/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #f7f7f7;
}

html {
    height: 100%;
    box-sizing: border-box;
}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 36px;

}

#page-index a {
    text-decoration: none;
    outline: 0;
}


.text-center {
    text-align: center;
}



a {
    color: #4267b2
}

a:hover {
    text-decoration: none;
}

.overflow_hidden {
    overflow: hidden !important;
}

.transparent {
    background: transparent;
}

.col-lg-25 {
    width: 20%;
}

.counter {
    color: #003f67;
}

.flex {
    display: flex;
}


.green {
    background: #008000 !important;
}

.green:hover, .green:active, .green:focus {
    background: #198c19 !important;
}

.blue {
    background: #003f67 !important;
}

.blue:hover, .blue:active, .blue:focus {
    background: #102332 !important;
}

.red {
    background: #c90f19 !important;
}

.red:hover, .red:active, .red:focus {
    background: #e63c2e !important;
}

.plain-element {
    margin: 0px !important;
    padding: 0px !important;
}

.row-error {
  height: 16px;
  color: red;
  font-size: 1rem;
}

.row-blue {
  height: 30px;
  background-color: #3e73b9;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

select {
  display: block;
  width: 106%;
  height: 2.4rem;
  font-size: 14px;
}


/*----------------------------------------------
    ERROR 404
------------------------------------------------*/
#errorContainer {
  padding-top: 40px;
  height: 900px;
  background: white;
  text-align: center;
}


#mainContainer { margin:0 auto 20px auto; width:940px; padding:0; text-align:left; }
.company { display:inline; float:left; margin:40px 0 0px 280px; }
.robot { display:inline; float:left; width:280px; margin:0; overflow:visible; }
.error-header { display:inline; float:left; width:660px; font-size:20px; margin:50px 0 0 0; }
.mainContent { display:inline; float:left; width:660px; }
.largeFont { font-size:24px; }
.p-error { margin:18px 0; padding:0; line-height:1.4em; font-size:16px;}
.ul-error { margin:-10px 0 0 26px; padding:0; }
.ul-error li { margin:5px 0; padding:0; font-size:16px;}
.ul-error a { color:#3366cc; text-decoration:none; font-size:17px;}


/*----------------------------------------------
    Row Message
------------------------------------------------*/

.row-message {
  position: absolute;
  width: 100%;
}

.alert {
  position: absolute;
  width: 100%;
}


/*----------------------------------------------
    PAGE HEADERS
------------------------------------------------*/

.img-header {
    margin: auto;
    width: 80%;
    max-width: 80px;
    max-height: 120px;
}

.header {
    height: 140px;
    margin: 0px;
    background: white;
    padding: 15px 16% 0 3%;
}

.box-details {
  margin-top: 10px;

}

.details-header {
    padding-left: 10%;
    padding-right: 10%;
}

.details-header h5 {
  margin:0px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
}

.details-header h6 {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-size: 12px;
  font-weight: 600;
}

.details-header h4 {
  margin:0px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0px;
}

.details-header p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.details-header p {
   color: black;
}

.summary {
    width: 75%;
    margin: auto;
    color: #333333 !important;

}

.summary h4 {
    font-weight: 600;
}

.summary p {
    color: #868e96;
}

.summary b {
    color: #003f67;
    font-size: 1.4rem;
}

.title-username {
  margin-top: 4px !important;
}

.profile-details {
    margin-top: -20px;
    font-size: 12px;
    width: auto;
    background: transparent;
}


.profile-details tr {
   border: none;
}

.profile-details b {
    color: #003f67 !important;
    margin-left: 10px;
}

.profile-details td {
    border: none;
    padding: 0px 0px 5px 0px;
}

.icon {
    width: auto;
    margin-top: -3px;
}


.icon-small {
    width: 14px;
    height: 14px;
    margin-top: -1px;
}



/*----------------------------------------------
    CARDS
------------------------------------------------*/


.card-status {
   border-radius: 5px;
   padding: 1%;
   font-size: 14px;
   letter-spacing: 0.6px;
   font-weight: 600;
   text-transform: uppercase;
   box-shadow: 0 2px 2px 0 #A9A9A9, 0 2px 1px -2px #838383, 0 1px 4px 0 #838383;
   width: 95%;
   margin: auto;
   margin-bottom: 30px;
   color: #303438;
}

.card-status i {
    color: #003f67;
    font-weight: 600;
    font-size: 16px;
    margin-right: 6px;
}

.fa-stop-circle {
  color: #dd000e !important;
}



.project-card {
    padding-left: 5%;
    border-radius: 5px;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

.project-card-top {
  height: 45px;
}

.project-card-bottom {
  height: 55px;
}

.project-card h6 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px 0px;
}

.project-card p {
    height: 50px;
    font-size: 12px;
}

.proposed {
  border-left: 4px solid #ff5722;
}

.analysis {
  border-left: 4px solid #800080;
}

.development {
  border-left: 4px solid #008000;
}

.testing {
  border-left: 4px solid #008080;
}

.deployment {
  border-left: 4px solid #ffd700;
}

.hold {
  border-left: 4px solid #dd000e;
}


.portrait {
    height: 45px;
    width: 66%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-card {
    height: 55px;
    width: 66%;
    background: #003f67;
    padding: 1%;
    box-shadow: none;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.btn-card i {
  font-size: 1.2rem;

}

.btn-card:hover,
.btn-card:active,
.btn-card:focus {
    background: #102332 !important;
    box-shadow: none;
}


/*----------------------------------------------
    BUTTONS
------------------------------------------------*/


.btn-inline {
    background: #003f67;
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
    height: 16px;
    line-height: 16px;
    text-shadow: none;
    cursor: pointer;
}

.btn-long {
    margin-left: 0px;
    margin-top: 0px;
}

.btn-inline:hover,
.btn-inline:active,
.btn-inline:focus {
    background: #4c7894;
    color: white;
}

.btn-inline-delete {
  background: #c90f19 !important;
  font-size: 10px;
  color: white;
  position: absolute;
  right: 2px;
  margin-top: 2px;
  border-radius: 5px;
  border: none;
  height: 18px;
  line-height: 16px;
  text-shadow: none;
  cursor: pointer;
}

/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #868e96;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #868e96;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}


/*------------------------------------------------------------------------------
    ANIMATIONS
------------------------------------------------------------------------------*/

.tooltip-hover {
    display: none;
    position: absolute;
    z-index: 99;
    background: transparent;
    width: auto;
    text-align: center;
}

.img-icon:hover + p { display: block;}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 4px #e8e8e8;
  }
  to {
    box-shadow: 0 0 4px #fff, 0 0 6px #8c8c8c;
  }
}


/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/


@media(max-width:1700px) {

    .header  {
        height: 140px;
        padding: 0 34% 0 1%;
    }

    .img-header {
        height: 110px;
        margin-top: 7%;
    }

    .header h4 {
        font-size: 1.8rem;
    }

    .header h6 {
        font-size: 1rem;
        margin-top: 0;
    }


    .header p {
      font-size: 12px;
    }

    .summary {
        padding: 3% 0% 3% 0%;
    }

    .summary p {
        font-size: 13px;
    }

    .img-column {
       width: 12%;
    }

}

@media(max-width:1210px) {

  .card-status {
    font-size: 1.2rem;
  }

  .project-card-bottom {
    height: 70px;
  }

  .btn-card {
    height: 70px;
  }


}



@media(max-width:991px) {

  .img-header {
    display: none;
  }

  .header {
    height: 140px;
    padding: 0 10% 0 2%;
  }

}


@media(max-width:680px) {

  .header {
    height: 140px;
    padding: 0 10% 0 2%;
  }



}

@media(max-width:680px) {

  .header p {
    font-size: 10px;
  }

}

