/*------------------------------------------------------------------------------
    DATA STYLES
------------------------------------------------------------------------------*/

.dashboard-cards {
    border: none;
    text-align: center;
    box-shadow: none;
    display: block;
    overflow: auto;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    min-height: 600px;
}

.row-cards {
    width: 82%;
    text-align: center;
    margin: auto;
}

.row-form {
  width: 80%;
  margin: auto;
}


.icon {
    width: auto;
    height: 18px;

}

.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

.box span {
    margin-left: 5px;
}

table {
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;

}

.table-responsive {
  border: none;
}

#rowTransactionReceipt {
  display: none;
}

/*------------------------------------------------------------------------------
    PROJECT DETAILS ROWS & COLUMNS
------------------------------------------------------------------------------*/

.row-details {
  width: 80%;
  margin: auto;
  background: white;
  border-radius: 2px;
  margin-bottom: 50px;
  min-height: 600px;
}



/*------------------------------------------------------------------------------
    PROJECT DETAILS CARDS
------------------------------------------------------------------------------*/

.insights-card {
    text-align: left;
    width: 98%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 16px;
    float: none;
    box-shadow: none;
    border: 1px solid #dddddd;
    font-size: 14px;
    text-shadow: 1px 1px #f7f7f7;
    min-height: 200px;

}

.insights-card .card-header {
   display: flex;
   padding: 2px;
   height: 32px;
   width: 100%;
   border-left: 1px solid #dddddd;
   border-right: 1px solid #dddddd;
   border-top: 1px solid #dddddd;

}

.insights-card .card-header {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    background-color: #2b5b89;
    padding: 6px;
    font-size: 16px;
    color: white;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
}


.insights-card .row-content {
      padding: 6px;
}

.table-team {
  margin: 0px;

}


.table-team td,
.table-team tr {
    border: 1px solid transparent;
    padding: 2px !important;
    height: 55px;
    vertical-align: middle !important;
}

.table-team td {
  padding-left: 8px;
  font-size: 0.9rem;
}

.td-position {
  width: 25px;
}

.table-team th {
    padding-left: 2px !important;
}


.table-insights tr,
.table-insights td {
    border: none !important;
    font-size: 12px;
}

.table-skills tr,
.table-skill td {
    border: none;

}

.table-insights td:first-child {
  width: 20%;
}

.img-skill {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    margin: 2px;
}

.img-icon {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}


.btn-table {
    background: #003f67;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    height: 20px;
    line-height: 20px;
    text-shadow: none;
}

.btn-long {
    margin-left: 0px;
    margin-top: 0px;
}

.btn-table:hover,
.btn-table:active,
.btn-table:focus {
    background: #4c7894;
    color: white;
}

.btn-table-delete {
  background: #c90f19 !important;
  font-size: 10px;
  color: white;
  position: absolute;
  right: 2px;
  margin-top: 2px;
  border-radius: 5px;
  border: none;
  height: 18px;
  line-height: 16px;
  text-shadow: none;
}


/*------------------------------------------------------------------------------
    FORM CARDS
------------------------------------------------------------------------------*/

.form-card {
    box-shadow: 0 3px 3px 0 #A9A9A9, 0 3px 1px -2px #838383, 0 1px 5px 0 #838383;
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
    float: none;
    border-radius: 5px;
    font-size: 14px;
    text-shadow: 1px 1px #f7f7f7;
}

.form-card:hover {
    box-shadow: 0 3px 3px 0 #2d4b65, 0 3px 2px -2px #2d4b65, 0 2px 5px 0 #2d4b65;
}

.form-card .card-top {
    padding: 1% 3% 1% 3%;
    color: rgba(0,0,0,.9);
    border-bottom: 1px solid rgba(0,0,0,.15);

}

.form-card .card-top i {
    font-size: 16px;
}


.form-card .card-header {
   display: flex;
   padding: 6px 8px 6px 8px;
   height: 48px;
   width: 100%;
}

.form-card .card-header b {
    font-size: 0.9rem;
    color: black;
    font-weight: 600;
}

.form-card .card-header p {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 0.7rem;
    color: #666666;
    line-height: 1.2;
    width:75%;
}

.form-card .card-header h5 {
    font-weight: 500;
    margin: 5px;
    font-size: 20px;

}

.form-card .row-comment {
    padding: 3px 8px 3px 8px;
    margin-bottom: 10px;
    color: color: rgba(0,0,0,.75);
}

.form-card  .row-image {
    margin-bottom: 0px;
    padding: 3px 8px 3px 8px;
}


/*------------------------------------------------------------------------------
    CHARITY CARDS
------------------------------------------------------------------------------*/

.card.horizontal {
    border-radius: 5px !important;
    width: 96%;
    margin: auto;
    margin-bottom: 20px;
    height: 180px;
}

.card.horizontal h5{
    color: #003f67;
    height: 40px;
}


.card.horizontal .card-content p {
    height: 80px;
}

.card.horizontal .card-image img {
    height: 100%;
}

.card .card-content {
    padding: 16px;
    padding-top: 0px;
    text-align: left;
    font-size: 12px;

}

.card .card-content h5 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 1.4rem;
}

.card-receipt {
  padding: 15px;
  width: 90%;
  margin: auto;

}

.card-receipt h4 {
  margin: 15px 0px;
}

.card-receipt .row-total {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 40px 0px;
}

.card-receipt tr {
  border: none;
}

.badge {
  margin-bottom: 0px;
}


/*------------------------------------------------------------------------------
    FORMS
------------------------------------------------------------------------------*/

.form-content {
    padding: 20px 0px 0px 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

.form-content .form-box {
  padding: 0px;
}

.form-content h6 {
    font-size: 1rem;
}

.form-content p {
    display: none;
}

.btn-proceed {
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: transparent;
    text-align: right;
    color: white;
    background-color: #003f67;
    font-size: 18px;
}

.btn-proceed:hover, .btn-proceed:active, .btn-proceed:focus {
    background-color: #0f415a;
}


.property_input {
    margin-top: 25px;
    margin-bottom: 0px;
 }

 .property_input input {
     text-align: center;
 }

.file_input {
    border: none;
    box-shadow: none;
}

.gamification-form label{
   color: #003f67;
   font-size: 16px;
   margin-left: 10px;
}

.gamification-form .errorlist {
    display: none
}

.form-content .errorlist {
    display: none
}


.gamification-form ul > li > label{
    color: grey;
    font-size: 14px;
    margin-left: 20px;
}


.form-payment .form-group  {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}


textarea.materialize-textarea:focus:not([readonly])  + label {
    color: #003f67;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #003f67;
    -webkit-box-shadow: 0 1px 0 0 #003f67;
    box-shadow: 0 1px 0 0 #003f67;

}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    opacity: 1;
    margin-right: 5px;
    position: inherit;
}

input[type="number"]:not(.browser-default) {
  text-align: center;
}

.form-content [type="radio"]:checked,
.form-content [type="radio"]:not(:checked) {
    opacity: 0;
    margin-right: 0px;
    position: inherit;

}

[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: #003f67;
    border: 1px solid #003f67;
}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/
button {
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-enter {
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    box-shadow: none;
    border:none;
    color: #003f67;
}

.btn-enter i {
    font-size: 16px;
}

.btn-enter:hover,
.btn-enter:focus,
.btn-enter:active {
    background-color: transparent;
    color: #2d6d91;
}


.arrow {
    color: white;
}

.btn-algorithm {
    border-radius: 5px;
    margin-left: 40px;
    height: 24px;
    width: auto;
    padding: 0px 6px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 0px;
    color: white;
    border: none;
    text-shadow: none;
}

.btn-algorithm i {
  font-size: 14px;
}


.btn-algorithm:hover,
.btn-algorithm:focus,
.btn-algorithm:active {
    color: white;
}

.donation-button {
    margin-top: 10px;
    margin-left: 10px;
    background:transparent;
    border:none;
}

.donation-button i{
  font-size: 24px;
  position: relative;
  top: 2px;
}

.donation-button label {
    background: orange;
    text-shadow: none;
    position: relative;
    top: 2px;
}

.btn-insights {
    border-radius: 5px;
    margin-left: auto;
    height: 20px;
    width: auto;
    padding: 1px 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: white;
    border: none;
    text-shadow: none;
}

/*------------------------------------------------------------------------------
    TABLES
------------------------------------------------------------------------------*/




.table-long {
    margin-bottom: 26px;

}


.table > tbody > tr >td  {
    padding-left: 0px;
    padding-top: 0px;
}


.table-profile td:first-child {
width: 35%;
}



/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


@media(max-width:1700px) {

    .row-cards {
      width: 100%;
    }

    .row-form {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }

    .row-details {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
    }

    .project-card h6 {
        font-size: 1.2rem;
    }

    .project-card p {
        margin-bottom: 0;
        margin-right: 5px;
        font-size: 12px;
    }

    .btn-algorithm {
        height: 24px;
        line-height: 22px;
    }

    .insights-card {
        width: 95%;
    }

}


@media(max-width:1025px) {

    .btn-algorithm {
        margin-left: 10px;
        height: 24px;
        font-size: 12px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }

    .skillset-image {
        display:none;
    }

     .form-content {
        max-width: 100%;
    }

}

@media(max-width:991px) {
  .row-cards {
    width: 30%;
    margin-right: 70%;
  }

}


@media(max-width:520px) {

    .row-title,
    .row-cards {
        width: 100%;
    }
    .company-card {
    width: 100%
    }


    .insights-card {
        font-size: 12px;
    }


    .company-card .card-content p {
    height: 90px;
    }

    .btn-card {
        height: 70px;
    }




}

@media(max-width:375px) {
    .btn-algorithm {
        margin-left: 5px;
        height: 24px;
        font-size: 10px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }
}


