{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{% block style %}
{{ block.super }}
<!-- Materialize-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- FontAwesome Styles-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<!-- Custom Styles-->
<link href="{% static 'css/api.css' %}" rel="stylesheet" />
<link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
<!-- Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<!-- Material Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}


{% block title %}REST API{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default top-navbar" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand company-logo" href="/"><img class="company-logo"
                                                       src="{% static 'img/logo-white.png' %}"
                                                       alt="Logo"/></a>
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <li><a class="nav-link" href="/api/user/create/"><i class="fas fa-user-plus"></i> <b>Register</b></a></li>
    <li><a class="nav-link" href="/api/user/authenticate/"><i class="fas fa-user-check"></i> <b>Authenticate</b></a>
    </li>
    <li><a class="nav-link" href="/api/user/my-profile/"><i class="fas fa-user-circle"></i><b>My Profile</b></a></li>
    {% if user.is_authenticated %}
    <li><a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown"><i class="fas fa-caret-down"></i><b>{{ user }}</b></a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a>
      </div>
    </li>
    {% endif %}
  </ul>

</nav>
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
  {% if forloop.last %}
  <li class="active"><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
  {% else %}
  <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
  {% endif %}
  {% empty %}
  {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
  {% endfor %}
</ul>
{% endblock %}











