{% extends "base.html" %} {% load staticfiles %}
{% block extrahead %}
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header details-header">
    <div class="col-md-2 text-right plain-element">
        {% if my_profile.image %}
        <img src="{{ my_profile.image.url }}" class="img responsive img-header">
        {% else %}
        <img src="{% static 'img/portraits/default.jpg' %}" class="img responsive img-header">
        {% endif %}
    </div>

    <div class="col-md-10 text-left">
        <span class="flex"><h5>{{ user.name }} </h5><button class="btn-inline"
                                                            onclick="window.location='{% url 'user:edit_profile' %}'">Edit </button></span>
        {% if my_profile.position == 'PM' %}
        <p>Project Manager</p>
        {% elif my_profile.position == 'admin' %}
        <p>Program Manager</p>
        {% else %}
        <p>{{ my_profile.position }}</p>
        {% endif %}
        <table class="profile-details">
            <tr class>
                <td>Email Address: &nbsp;</td>
                <td><b><a target="_blank">
                    {{ user.email }}</a></b>
                </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </tr>
            <tr>
                <td>Personality: &nbsp;</td>
                {% if my_profile.personality == '' %}
                <td><b>
                    <button onclick="window.location='{% url 'user:gamification_test' %}'" type="submit"
                            class="btn-inline plain-element"> &nbsp; Take Personality Test &nbsp;
                    </button>
                </b></td>
                {% else %}
                <td><b>{{ my_profile.personality }}</b></td>
                {% endif %}
            </tr>
            <tr>
                <td>LeanCoins: &nbsp;</td>
                <td><b><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ my_profile.my_wallet }}</b></td>
            </tr>
        </table>

    </div>
</div>

<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}
<div class="dashboard-cards">
    <div class="row row-cards">

        {% if my_profile.position == 'PM' %}
        <div class="col-md-6 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}team.png" class="img-responsive">
                    <p><b> My Project Teams </b></p>
                </div>


                <div class="row-image">
                    <div class="table-responsive table-profile">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Project</th>
                                <th class="text-center">Active Issues</th>
                                <th class="text-center">Budget</th>
                                <th class="text-center">Phase</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                            <tr>
                                <td class="text-center"><a href="{% url 'projects:project_details' pk=project.id %}"><b>{{ project.name|truncatechars:16 }}</b></a></td>
                                <td class="text-center">{{ project.description|truncatechars:80 }}</td>
                                <td class="text-center"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{project.budget }}
                                </td>
                                <td class="text-center">{{ project.phase }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% elif my_profile.position == 'Coder' %}
        <div class="col-md-6 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}team.png" class="img-responsive">
                    <p><b> Joined Teams </b></p>
                </div>


                <div class="row-image">
                    <div class="table-responsive table-profile">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Project</th>
                                <th class="text-center">Active Issues</th>
                                <th class="text-center">Budget</th>
                                <th class="text-center">Phase</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in joined_projects %}
                            <tr>
                                <td class="text-center"><a href="{% url 'projects:project_details' pk=project.id %}"><b>{{ project.name|truncatechars:16 }}</b></a></td>
                                <td class="text-center">{{ project.description|truncatechars:80 }}</td>
                                <td class="text-center"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{ project.budget }}
                                </td>
                                <td class="text-center">{{ project.phase }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-md-6 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/' %}issue.png" class="img-responsive">
                    <p><b>Currently working on </b> <br></p>
                </div>


                <div class="row-image">
                    <div class="table-responsive table-profile">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">Issue</th>
                                <th class="text-center">Project</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Cost</th>
                                <th class="text-center">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for issue in issues %}
                            <tr>
                                <td class="text-center"><a target="_blank">{{issue.name|truncatechars:20}}</a>
                                <td class="text-center"><a><b>{{issue.project|truncatechars:16 }}</b></a></td>
                                <td class="text-center">{{ issue.description|truncatechars:80 }}</td>
                                <td class="text-center"><img src="{% static 'img/leancoin.png' %}" class="icon"> {{issue.cost}}
                                </td>
                                <td class="text-center"><a href="{% url 'projects:issue_fixed' ik=issue.id %}"
                                                           class="btn-inline green">&nbsp; Fixed &nbsp;</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>

</div>


{% endblock %}
