{% extends "base.html" %} {% load staticfiles %}{% load materializecss %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
<link href="{% static 'css/data.css' %}" rel="stylesheet"/>
{% endblock %}
{% load bootstrap_tags %} {% block content %}
{% block row_header %}
<div class="row header details-header">
    <div class="col-md-2 text-right plain-element img-column">
        <img src="{% static 'img/propose_project.jpg' %}" class="img responsive img-header">
    </div>

    <div class="col-md-10 text-left">
        <div class="box">
            <h4>Advance Project "{{ project.name }}"</h4>
        </div>
    </div>
</div>
<div class="row row-message">
    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}
<div class="dashboard-cards">
    <div class="row row-cards">
        <div class="col-md-5 no-padding">
            <div class="card insights-card">
                <div class="card-header">
                    <img src="{% static 'img/icons/gear.png' %}" class="img-responsive">
                    <p><b> Propose Project </b></p>
                </div>
                <form class="form-signin form-wide" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-box">
                        <div class="input-field col s6">
                            <h6>New Project Phase</h6>
                        </div>
                        <div class="input-field col s6">
                            <select name="phase" required="required">
                                <option value="{{ project.phase }}" disabled selected>
                                    {% for phase in project_phases %}
                                <option value={{phase.name}}>{{phase.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row"></div>
                        <button type="submit" class="btn-login"><span>Advance Project <i
                                class="far fa-arrow-alt-circle-right"></i></span>
                        </button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue" href="{% url 'dashboard:dashboard' %}">
        <i class="large material-icons">exit_to_app</i>
    </a>
</div>



{% endblock %}
