{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Project Dashboard</title>
    <meta name="Description" content="Project management Dashboard made with Django.
                                        This Project is a simulation of work environment, where more traditional
                                        agile techniques are blended with key gamification concepts of 'reward' and 'role'. ">
    <meta name="KeyWords" content="data, django, dashboard">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/septellar.png' %}"/>

    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- FontAwesome Styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
          integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <!-- Custom Styles-->
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Chart Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extrahead %}{% endblock %} {% block head_js %} {% endblock head_js %}

</head>

<body>
<div id="wrapper">
    <!-- TOP NAVBAR -->
    {% block navbar %}
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand company-logo" href="{% url 'dashboard:dashboard' %}"><img class="company-logo"
                                                                                             src="{% static 'img/logo-white.png' %}"
                                                                                             alt="Logo"/></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <form action="{% url 'projects:find_project' %}" class="browser-default left">
                    <i class="fas fa-search" id="search-icon"></i>
                    <input id="search-input" placeholder="Find Project" type="text" class="browser-default search-field"
                           name="query" value="" autocomplete="off" aria-label="Search box">
                    <label for="search-input"></label>
                    <i class="material-icons search-close-icon">cancel</i>
                </form>
            </li>
            <li><a class="nav-link" href="{% url 'charity:charity' %}"><i class="fas fa-donate"></i><b>Charity</b></a>
            </li>
            <li><a class="nav-link"
                   href="{% url 'user:profile' %}"><i class="fas fa-user-alt"></i>
                <b>Profile</b></a></li>
            <li><a class='dropdown-trigger nav-link' href='#' data-target='dropdown-user' id="user_dropdown"><i
                    class="fas fa-caret-down"></i><b>
                {% if user.is_authenticated %}
                {{ user }}
                {% else %}
                Login/Register
                {% endif %}
            </b></a></li>
            <li><a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons" id="trigger">menu</i></a>
            </li>
        </ul>
    </nav>

    <!-- DROPDOWN -->
    <ul id="dropdown-user" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="{% url 'user:logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
        {% else %}
        <li><a href="{% url 'user:login' %}"><i class="fa fa-user fa-fw"></i> Log In</a></li>
        <li><a href="{% url 'user:register' %}"><i class="fas fa-tasks"></i> Register</a></li>
        {% endif %}
    </ul>


    <!-- MOBILE -->
    <ul class="sidenav" id="mobile-demo">

        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'charity:charity' %}"><i
                class="fas fa-donate"></i><b>Charity</b></a></li>

        {% if user.is_authenticated %}
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:logout' %}"><i
                class="fas fa-sign-out-alt"></i><b> Log Out {{ user.name }}</b></a></li>
        {% else %}
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:login' %}"><i
                class="fa fa-user"></i><b> Log In</b></a></li>
        <li><a class="dropdown-button waves-effect waves-dark" href="{% url 'user:register' %}"><i
                class="fas fa-tasks"></i><b> Register</b></a></li>
        {% endif %}
        <br>
        <li>
            <form action="{% url 'projects:find_project' %}" class="browser-default left">
                <i class="fas fa-search" id="search-icon"></i>
                <input id="search-input" placeholder="Find Project" type="text" class="browser-default search-field"
                       name="query" value="" autocomplete="off" aria-label="Search box">
                <label for="search-input"></label>
                <i class="material-icons search-close-icon">cancel</i>
            </form>
        </li>

    </ul>
    {% endblock %}
    <!-- PAGE-WRAPPER -->

    <!-- PAGE-INDEX -->
    <div id="page-index">

        {% block content %}
        {% endblock %}

    </div>
    <!-- PAGE-INDEX -->
</div>
<div class="footer">
    <p><a target="_blank" href="https://www.freeprivacypolicy.com/privacy/view/9b972ff9a2aaeda03f07216c15625791/">Privacy
        Policy</a> • © 2019 - 2020 www.unflasked.com - All Rights Reserved • Powered by Septellar &trade;</p>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->

<!-- Bootstrap Js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Materialize Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<!-- waypoints JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<!-- counterup JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>




</body>

</html>
