/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    margin: 0;
    padding-bottom: 0;
    background-color: #f7f7f7;
}

html {
    height: 100%;
    box-sizing: border-box;
}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 42px;

}

#page-index a {
    text-decoration: none;
    outline: 0;
}


.text-center {
    text-align: center;
}

.row-message {
    height: 20px;
}


a {
    color: #4267b2
}

a:hover {
    text-decoration: none;
}

.overflow_hidden {
    overflow: hidden !important;
}

.transparent {
    background: transparent;
}

.col-lg-25 {
    width: 20%;
}

.counter {
    color: #003f67;
}

.flex {
    display: flex;
}


.green {
    background: #008000 !important;
}

.green:hover, .green:active, .green:focus {
    background: #198c19 !important;
}

.blue {
    background: #003f67 !important;
}

.blue:hover, .blue:active, .blue:focus {
    background: #102332 !important;
}

.red {
    background: #c90f19 !important;
}

.red:hover, .red:active, .red:focus {
    background: #e63c2e !important;
}

.plain-element {
    margin: 0px;
    padding: 0px;
}


/*----------------------------------------------
    PAGE HEADERS
------------------------------------------------*/

.img-header {
    margin-top: 2%;
    max-width: 100px;
    height: 160px;
}

.img-icon {
    width: 30px;
    height: 48px;
    border-radius: 5px;
    margin: 2px;
}

.img-skill {
    width: 42px;
    height: 42px;
    border-radius: 5px;
    margin: 2px;
}




.header {
    height: 180px;
    margin: 0px;
    background: white;
    text-shadow: 1px 1px #f7f7f7;
    padding: 0 16% 0 3%;
}

.details-header {
    padding-left: 3%;

}

.details-header h5,
.details-header p {
    margin-bottom: 0px;
}

.details-header p {
   color: #b8b8b8;
}

.summary {
    width: 75%;
    margin: auto;
    color: #333333 !important;

}

.summary h4 {
    font-weight: bold;
}

.summary p {
    color: #868e96;
}


.summary b {
    color: #003f67;
    font-size: 1.4rem;
}

.profile-details {
    margin-top: -10px;
    font-size: 15px;
    width: auto;
    background: transparent;
}


.profile-details tr,
.profile-details td {
    border: none;
    min-width: 50px;
}



.profile-details b {
    color: #003f67 !important;
}

.profile-details td {
    padding: 0px 0px 5px 0px;
}

.icon {
    width: auto;
    margin-top: -3px;
}


/*----------------------------------------------
    MENU CARD
------------------------------------------------*/

.menu-card {
    box-shadow: 0 3px 3px 0 #A9A9A9, 0 3px 1px -2px #838383, 0 1px 5px 0 #838383;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    float: none;
    border-radius: 5px;
    font-size: 16px;
}

.menu-card:hover {
    box-shadow: 0 3px 3px 0 #2d4b65, 0 3px 2px -2px #2d4b65, 0 2px 5px 0 #2d4b65;
}

.menu-card .card-top {
    padding: 1% 3% 1% 3%;
    color: rgba(0,0,0,.9);
    border-bottom: 1px solid rgba(0,0,0,.15);

}

.menu-card .card-top i {
    font-size: 16px;
}


.menu-card .card-header {
   display: flex;
   align-items:left;
   padding: 2% 3% 2% 3%;
   height: 48px;
   width: 100%;
}


.menu-card .card-header b {
    font-size: 0.9rem;
    color: black;
    font-weight: 500
}

.menu-card .card-header p {
    margin-left: 1%;
    font-size: 0.7rem;
    color: #666666;
    line-height: 1.2;
    width:80%;
}

.dots {
    color: #666666;
}

.menu-card .card-content {
    padding: 0px !important;
}

.menu-card .row-comment {
    padding: 2% 3% 2% 3%;
    margin-bottom: 10px;
    color: color: rgba(0,0,0,.75);
}


.menu-card  .row-image {
    margin-bottom: 0px;
    padding: 1% 3% 1% 3%;
}

.row-subject {
    padding: 3%;
    background: #f3f6f8;
    color: black !important;
    margin-bottom: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}


.btn-floating {
    background: #003f67;
}


.btn-floating:hover,
.btn-floating:active {
    background: #2d6d91;
}


/*----------------------------------------------
    BUTTONS
------------------------------------------------*/


.btn-inline {
    background: #003f67;
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 15px;
    border-radius: 2px;
    border: none;
    height: 16px;
    text-shadow: none;
}

.btn-inline:hover,
.btn-inline:active,
.btn-inline:focus {
    background: #4c7894;
    color: white;
}

/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #868e96;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #868e96;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}



/*----------------------------------------------
    MEDIA QUERIES
------------------------------------------------*/


@media(max-width:1700px) {

    .header  {
        height: 140px;
        padding: 0 2% 0 2%;
        margin-left: -8%;
    }

    .img-header {
        height: 110px;
        margin-top: 7%;
    }

    .header h4 {
        font-size: 1.8rem;

    }

    .header h6 {
        font-size: 1rem;
        margin-top: 0;
    }

    .summary {
        padding: 3% 0% 3% 0%;
    }

    .summary p {
        font-size: 13px;
    }

    .img-column {
       width: 12%;
    }







}


@media(max-width:1025px) {

    .header  {
        margin-left: 0;
    }

    .summary {
        font-size: 12px;
    }


    .header {
       height: 140px;
       padding-left: 2%;

    }

    .img-header {
        margin-top: 10%;
    }

    .img-column {
       width: 8%;
    }



    .col-lg-25 {
        width: 20%;
    }





}


@media(max-width:520px) {


    .header {
        padding: 0%;
    }



    .summary h4 {
        font-size: 1rem;
    }


    .summary p {
        font-size: 10px;
    }


    .col-lg-25 {
        width: 100%;
    }

    .portrait {

    }


}



