/*------------------------------------------------------------------------------
    DATA STYLES
------------------------------------------------------------------------------*/

body {
    background-image: none;
}



#page-index {
    padding-top: 0px;
}

.dashboard-cards {
    border: none;
    text-align: center;
    box-shadow: none;
    display: block;
    overflow: auto;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    min-height: 600px;
}

.row-cards {
    width: 80%;
    text-align: center;
    margin: auto;
}


.icon {
    width: auto;
    height: 18px;

}

.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

.box span {
    margin-left: 5px;
}

table {
    background-color: white;
    border-radius: 5px;
    margin-left: 0px;
}



/*------------------------------------------------------------------------------
    CARDS
------------------------------------------------------------------------------*/

.card-status {
   border-radius: 5px;
   padding: 1%;
   text-shadow: 1px 1px #e3e3e3;
   font-size: 1.6rem;
   box-shadow: 0 2px 2px 0 #A9A9A9, 0 2px 1px -2px #838383, 0 1px 4px 0 #838383;
   width: 95%;
   margin: auto;
   margin-bottom: 5%;
}

.card-status i {
    color: #003f67;
    font-weight: bold;
    font-size: 1.4rem;
}

.project-card {
    padding-left: 5%;
    border-radius: 5px;
    border-left: 4px solid #ff5722;
    width: 95%;
    margin: auto;
    margin-bottom: 5%;
}

.project-card h6 {
    font-size: 1.4rem;
    font-weight: bold;

}

.project-card p {
    height: 60px;
}

.portrait {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-card {
    width: 100%;
    height: 70px;
    background: #003f67;
    padding: 1%;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.btn-card:hover,
.btn-card:active,
.btn-card:focus {

background: #102332;
}


.insights-card {
    box-shadow: 0 3px 3px 0 #A9A9A9, 0 3px 1px -2px #838383, 0 1px 5px 0 #838383;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
    float: none;
    border-radius: 5px;
    font-size: 14px;
    text-shadow: 1px 1px #f7f7f7;
    max-height: 1000px;


}



.insights-card:hover {
    box-shadow: 0 3px 3px 0 #2d4b65, 0 3px 2px -2px #2d4b65, 0 2px 5px 0 #2d4b65;
}

.insights-card .card-top {
    padding: 1% 3% 1% 3%;
    color: rgba(0,0,0,.9);
    border-bottom: 1px solid rgba(0,0,0,.15);

}

.insights-card .card-top i {
    font-size: 16px;
}


.insights-card .card-header {
   display: flex;
   align-items:left;
   padding: 6px 8px 6px 8px;
   height: 48px;
   width: 100%;
}


.insights-card .card-header b {
    font-size: 1.4rem;
    color: black;
    font-weight: 600
}

.insights-card .card-header p {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 0.7rem;
    color: #666666;
    line-height: 1.2;
    width:75%;
}

.insights-card .row-comment {
    padding: 3px 8px 3px 8px;
    margin-bottom: 10px;
    color: color: rgba(0,0,0,.75);
}

.insights-card  .row-image {
    margin-bottom: 0px;
    padding: 3px 8px 3px 8px;

}

.schedule {

    min-height: 482px;
}


.card.horizontal {
    border-radius: 5px !important;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    height: 180px;
}

.card.horizontal h5{
    color: #003f67;
}


.card.horizontal .card-content p {
    height: 50px;
}

.card.horizontal .card-image img {
    height: 100%;
}





.card .card-content {
    padding: 16px;
    padding-top: 0px;
    text-align: left;
    font-family: 'Raleway';
    font-size: 12px;

}

.card .card-content h5 {
    margin-top: 5px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.4rem;
}



/*------------------------------------------------------------------------------
    FORMS
------------------------------------------------------------------------------*/

textarea.materialize-textarea:focus:not([readonly])  + label {
    color: #165d81;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #165d81;
    -webkit-box-shadow: 0 1px 0 0 #165d81;
    box-shadow: 0 1px 0 0 #165d81;

}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    opacity: 1;
    margin-right: 5px;
    position: inherit;
}

.form-signin {
    max-width: 60%;
    padding: 40px 0px 0px 0px;
    margin-bottom: 0px;
}

.form-signin h6 {
    font-size: 1rem;
}

.form-signin p {
    display: none;
}


.property_input {
    margin-top: 25px;
    margin-bottom: 0px;
 }

 .property_input input {
     text-align: center;
 }

.file_input {
    border: none;
    box-shadow: none;
}

.gamification-form label{
   color: #003f67;
   font-size: 16px;
   margin-left: 10px;
}

.gamification-form .errorlist {
    display: none
}

.form-signin .errorlist {
    display: none
}


.gamification-form ul > li > label{
    color: grey;
    font-size: 14px;
    margin-left: 20px;
}


.form-payment .form-group  {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/

.btn-enter {
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    box-shadow: none;
    border:none;
    color: #003f67;
}

.btn-enter i {
    font-size: 16px;
}

.btn-enter:hover,
.btn-enter:focus,
.btn-enter:active {
    background-color: transparent;
    color: #2d6d91;
}


.arrow {
    color: white;
}

.btn-algorithm {
    border-radius: 5px;
    margin-left: 40px;
    height: 30px;
    width: auto;
    padding: 1px 10px 1px 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 10px;
    color: white;
    border: none;
    text-shadow: none;
}

.btn-algorithm:hover,
.btn-algorithm:focus,
.btn-algorithm:active {
    color: white;
}


.donation-button {
    margin-top: 10px;
    margin-left: 10px;

}

.donation-button label {
    background: orange;
    text-shadow: none;
}


/*------------------------------------------------------------------------------
    TABLES
------------------------------------------------------------------------------*/


.table-profile td,
.table-profile tr {
    border: 1px solid transparent;
    padding-left: 2px !important;
    height: 40px;
    vertical-align: middle !important;

}

.table-profile th {
    padding-left: 2px !important;

}

.table-long {
    margin-bottom: 26px;

}



.table > tbody > tr >td  {
    padding-left: 0px;
    padding-top: 0px;

}


.table-profile td:first-child {
width: 35%;
}

.table-log {
    font-size: 12px;
    overflow: auto;
    max-height: 500px;
}


.table-log td:first-child {
    width: 30%;

}


.table-skills tr,
.table-skills td {
    border: none;
}


/*------------------------------------------------------------------------------
    STATISTICS
------------------------------------------------------------------------------*/

#myChart {
    min-height: 300px;
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


@media(max-width:1700px) {

    .row-cards {
    width: 100%;
    }

    .project-card h6 {
        font-size: 1.2rem;
    }

    .project-card p {
        margin-bottom: 0;
        margin-right: 5px;
        font-size: 12px;
    }

    .btn-card {
        height: 60px;
    }

    .card-status {
        font-size: 1.4rem;
    }

    .btn-algorithm {
        height: 24px;
        line-height: 22px;
    }

    .box {
        margin-bottom: 0;
    }

    .insights-card {
        width: 95%;
    }

}


@media(max-width:1025px) {

    .card-status {
        font-size: 1.2rem;
    }

    .company-card {
        width: 50%;
        margin: auto;
        margin-bottom: 20px;
    }

    .company-card h5 {
        height: 20px
    }


    .card .card-image img {
        height: 100% !important;
    }

    .col-lg-4 {
        width: 100% ;
    }


    .tableau_card {
        overflow: auto;
    }

    .btn-algorithm {
        margin-left: 10px;
        height: 24px;
        font-size: 12px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }

    .skillset-image {
        display:none;
    }

     .form-signin {
        max-width: 100%;
    }

    .project-card h6 {
        font-size: 0.9rem;
    }

    .project-card p {
        height: 40px;
        font-size: 0.7rem;
    }

    .btn-card {
        width: 100%;
        height: 40px;
    }

    .btn-card i {
        font-size: 1rem;
    }
}


@media(max-width:520px) {

    .row-title,
    .row-cards {
        width: 100%;
    }
    .company-card {
    width: 100%
    }


    .insights-card {
        font-size: 12px;
    }


    .company-card .card-content p {
    height: 90px;
    }

    .btn-card {
        height: 70px;
    }




}

@media(max-width:375px) {
    .btn-algorithm {
        margin-left: 5px;
        height: 24px;
        font-size: 10px;
        padding: 0px 6px 0px 6px;
        line-height: 24px;
        margin-top: 6px;
        color: white;
    }
}


