{% extends "base.html" %}{% load staticfiles %}{% load materializecss %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}Setting New password{% endblock %} {% block content %} {% if validlink %}
<div id="page-inner">
    <div class=row></div>
    <div class=row></div>

    <div class="col-md-4 col-lg-4 text-right"></div>
    <div class="col-md-4 col-lg-4 text-center" id="col-form">
        <div class="col-md-2 col-lg-2 text-right"></div>
        <div class="col-md-8 col-lg-8 text-center">
            <div class=row></div>
            <div class=row></div>
            <h1>Reset Password:</h1>
            <div class=row></div>
            <div class=row></div>
            <div class="card" id="form-card">

                <form method="post" class="accountform">
                    <h4>Please enter your new password twice.<br /> So we can verify you typed it in correctly.</h4>
                    <form action="" method="post" class="accountform">
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">New password:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirm password:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Change my password" /></td>
                            </tr>
                        </table>
                    </form>
            </div>
            <div class=row></div>
            <div class=row></div>
            <div class=row></div>
        </div>
        <div class="col-md-2 col-lg-2 text-right"></div>
    </div>
    <div class="col-md-4 col-lg-4 text-right"></div>

</div>

{% else %}
<div id="page-inner">
    <div class=row></div>
    <div class=row></div>

    <div class="col-md-4 col-lg-4 text-right"></div>
    <div class="col-md-4 col-lg-4 text-center" id="col-form">
        <div class="col-md-2 col-lg-2 text-right"></div>
        <div class="col-md-8 col-lg-8 text-center">
            <div class=row></div>
            <div class=row></div>
            <h1>Reset Password:</h1>
            <div class=row></div>
            <div class=row></div>
            <div class="card" id="form-card">
                <h1>Password reset unsuccessful</h1>
                <h4>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</h4>
            </div>
            <div class=row></div>
            <div class=row></div>
            <div class=row></div>
        </div>
        <div class="col-md-2 col-lg-2 text-right"></div>
    </div>
    <div class="col-md-4 col-lg-4 text-right"></div>
    {% endif %} {% endblock %}
