{% extends "base.html" %} {% load static %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="container">
    <div class="form-signin" method="post">
        <i class="material-icons" id="icon-login">thumb_up</i>
        <fieldset class="form-box">
            <div class="row text-center">
                <h4>Password reset successful</h4>
             </div>
            <div class="row text-center" style="padding:20px">
                <h6> We've e-mailed you instructions for setting your password to the e-mail address you submitted</h6>
                <h6>You should be receiving it shortly.</h6>
            </div>
            <button type="submit" onclick="window.location='{% url 'dashboard:dashboard'  %}'" class="btn-login"><span>Dashboard <i class="far fa-arrow-alt-circle-right"></i></span></button>
        </fieldset>
    </div>
</div> <!-- /container -->


{% endblock %}