{% extends "base.html" %} {% load static %}
{% block extrahead %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet"/>
{% endblock %}
{% block title %}Reset Password{% endblock %} {% block content %}
{% block row_header %}
<div class="row" style="min-height: 72px">

    {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
    <div class="alert alert-success">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        <div class="messages text-center">
            {{ message }}
        </div>
    </div>
    {% endif %} {% endfor %}
    {% else %}

    {% endif %}
</div>
{% endblock %}


<div class="container">

    <form class="form-signin" method="post">
        <i class="material-icons" id="icon-login">email</i>
        <fieldset class="form-box">
            <div class="row text-center">
                <h6>Please specify your email address to receive instructions for resetting it.</h6>
                {{ form.email.errors }}
            </div>
            <div class="row text-center">
                <div class="input-field col s6">
                    <div class="input-field col s12 field-description">
                        <h6>Your Email Address:</h6>
                    </div>
                </div>
                <div class="input-field col s6">
                    {% csrf_token %}
                    {{ form.email|materializecss }}
                </div>
            </div>
            <button type="submit" class="btn-login"><span>Reset Password <i
                    class="far fa-arrow-alt-circle-right"></i></span></button>
        </fieldset>
    </form>
</div> <!-- /container -->
{% endblock %}
